{% extends "default.twig" %}

{% block title %}Sakado - Mon compte{% endblock %}

{% block css%}<link rel="stylesheet" href="/css/account.css">{% endblock %}

{% block nav %}
     <li><a href="/">Accueil</a></li>
     <li><a href="/host">Devenez Hote</a></li>
     <li><a href="/list-detail">Reserver un séjour</a></li>
     <li><a href="/logout">Se déconnecter</a></li>
{% endblock %}

{% block scripts %}
<script src="js/account.js" charset="utf-8"></script>
<script src="js/scroll.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div class="account">
     <div class="container">
          <div class="row">
               {% if success %}
                    <div class="alert alert-success col-12 text-center">
                         {% for message in success %}
                              <p>{{ message }}</p>
                         {% endfor %}
                    </div>
               {% endif %}

          </div>
     </div>

     <form class="form-custom-info" method="post">
          <section class="top">
               <section class="profil">
                    <section class="picture">
                         <button type="button" onclick="chooseFile();" class="inv" name="picture"><img src="img/user.jpg" alt=""></button>
                    </section>
                    <div style="height:0px;overflow:hidden">
                       <input type="file" id="fileInput" name="fileInput" />
                    </div>
                    <input type="hidden" name="id" value="{{ session.id }}">
                    <div class="info-user">
                         <div class="user-bloc edit">
                              <label>{{ info.fullname }}</label>
                         </div>
                    </div>
               </section>

               <section class="settings">
                    <div class="email-bloc edit">Email: <label for="email-profil">{{ info.email }}</label></div>
                    <div class="phone-bloc edit">Téléphone: <label for="phone-profil">{{ info.phone }}</label></div>
{#                    <div class="id-bloc edit">Pièce d'identité:#}
{#                    {% if picture %}#}
{#                         <label for="id-card-profil" class="yes">A jour</label>#}
{#                    {% else %}#}
{#                         <label for="id-card-profil" class="no">Mettre à jour</label>#}
{#                    {% endif %}#}
{#                    </div>#}
                    <div class="money">Solde: {{ info.money }}€</div>
               </section>
          </section>

          <section class="bottom">
               <section class="info">
                    <div class="item">
                         <i class="fas fa-quote-right"></i>
                    </div>
                    <div class="info-bloc edit">
                         <p>{{ info.bio }}</p>
                    </div>
               </section>
               <section class="acco">
                    <div class="title">
                         <h3>Mes hébergements</h3>
                    </div>
                    <div class="list">
                         <div class="item">
                              {% for acco in info.accomodation %}
                                   <a href="/detail/{{ acco.id }}">
                                        <figure>
                                             <img src="/img/upload/{{ acco.img.0.name}}" alt="">
                                             <figcaption>{{ acco.price }}€<br>{{ acco.title }}</figcaption>
                                        </figure>
                                   </a>
                              {% endfor %}
                         </div>
                    </div>
               </section>
               <section class="acco">
                    <div class="title">
                         <h3>Mes réservations</h3>
                    </div>
                    <div class="list">
                         <div class="item">
                              {% for booking in info.booking %}
                                   <a href="/detail/{{ booking.id_accomodation }}">
                                        <figure>
                                             <img src="/img/upload/{{ booking.img.0.name}}" alt="">
                                             <figcaption>{{ booking.info.title }}<br>Du {{ booking.start_date }} à {{ booking.end_date }}</figcaption>
                                        </figure>
                                   </a>
                              {% endfor %}
                         </div>
                    </div>
               </section>
          </section>
          <div class="edit-button">
               <button type="submit" class="custom"><i class="fas fa-pen"></i><span> Modifier vos informations</span></button>
               {% if errors %}
                         {% for error in errors %}
                              <li>{{ error }}</li>
                         {% endfor %}
                    </ul>
               </div>
               {% endif %}
          </div>
     </form>
</div>
{% endblock %}
