{% extends "../default.twig" %}

{% block title %}Sakado - Hébergements{% endblock %}

{% block css%}<link rel="stylesheet" href="/css/detail.css">{% endblock %}

{% block nav %}
     <li><a class="nav-item nav-link" href="/">Accueil</a></li>
{% if session.state %}
     <li><a class="nav-item nav-link" href="/account">Mon compte</a></li>
     <li><a class="nav-item nav-link" href="/myreserve">Mes réservations</a></li>
     <li><a class="nav-item nav-link" href="/host">Devenez Hote</a></li>
     <li><a class="nav-item nav-link" href="/list-detail">Reserver un séjour</a></li>
{% else %}
     <li><a class="nav-item nav-link" href="/login">Devenez Hote</a></li>
     <li><a class="nav-item nav-link" href="/list-detail">Reserver un séjour</a></li>
     <li><a class="nav-item nav-link" href="/login">Connexion</a></li>
     <li><a class="nav-item nav-link" href="/register">Inscription</a></li>
{% endif %}
{% if session.state %}
     <li><a class="nav-item nav-link" href="/logout">Se déconnecter</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
     <div class="row mb-50 mt-50 col-12">
          <div class="card col-12">
               <h1 class="card-title, text-center"> {{acco.title}} </h1>
               <div class="col grosse-image">
                    <img class="card-img-top" src="https://mars-metcdn-com.global.ssl.fastly.net/content/uploads/sites/18/2015/07/12140648/800x400.png" alt="Card image cap">
               </div>
               </br>
               <div class="container">
                    <div class="row align-items-start">
                         <div class="col">
                              <img class="card-img-top1" src="https://mars-metcdn-com.global.ssl.fastly.net/content/uploads/sites/18/2015/07/12140648/800x400.png" alt="Card image cap">    </div>
                              <div class="col">
                                   <img class="card-img-top2" src="https://mars-metcdn-com.global.ssl.fastly.net/content/uploads/sites/18/2015/07/12140648/800x400.png" alt="Card image cap">    </div>
                                   <div class="col">
                                        <img class="card-img-top3" src="https://mars-metcdn-com.global.ssl.fastly.net/content/uploads/sites/18/2015/07/12140648/800x400.png" alt="Card image cap">    </div>
                                   </div>
                                   <div class="card-body">
                                        <div class="content">
                                             <p class="font-weight-bold"> {{acco.place.country}} - {{acco.place.city}} - {{acco.place.zip}} </p>
                                             <button id="singlebutton" name="singlebutton" class="btn btn-primary float-right">Reserver</button> 
                                        </div>
                                        <p> {{acco.place.address}} </p>
                                        <ul class="list-group list-group-flush">
                                             <li class="list-group-item">
                                                  <h2 class="card-title">Description</h2>
                                                  <p> {{acco.content}} </p> 
                                             </li>
                                             <li class="list-group-item">
                                                  <h2 class="card-title">Sur place <span class="sub_text">Ce que nous proposons</span></h2>

                                                  <div class="row">

                                                       <div class="col-md-6">
                                                            <p>Heure d'arrivée : {{acco.hour_start}} </p>
                                                            <p>Heure de départ : {{acco.hour_end}} </p>
                                                            <p>Nombre de lit(s) : {{acco.size}} </p>
                                                            <p>Lit(s) simple(s) : {{acco.single_bed}} </p>
                                                            <p>Lit(s) double(s) : {{acco.double_bed}} </p>
                                                       </div>
                                                       <div class="col-md-6">
                                                            <p>Animal : {% if acco.animal == 1 %} Oui {% else %} Non {% endif %}</p>
                                                            <p>Accès handicapé : {% if acco.handicap == 1 %} Oui {% else %} Non {% endif %}</p>
                                                            <p>Petit déjeuner : {% if acco.breakfast == 1 %} Oui {% else %} Non {% endif %}</p>
                                                            <p>Diner : {% if acco.dinner == 1 %} Oui {% else %} Non {% endif %} </p>
                                                       </div>
                                                  </div>

                                             </li>
                                             <li class="list-group-item">
                                                  <h2 class="card-title">L'hébergeur <span class="sub_text">Informations personnelles</span></h2>
                                                  <p>Identité: {{userinfo.fullname}} </p>
                                                  <p>Email: {{userinfo.email}} </p>
                                                  <p>Description personnel:s {{userinfo.bio}} </p>
                                             </li>
                                        </ul>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>

{% endblock %}
