{% extends "../default.twig" %}

{% block title %}Sakado - Hébergements{% endblock %}

{% block css%}<link rel="stylesheet" href="/css/detail.css">{% endblock %}

{% block nav %}
     <li><a class="nav-item nav-link" href="/">Accueil</a></li>
{% if session.state %}
     <li><a class="nav-item nav-link" href="/account">Mon compte</a></li>
     <li><a class="nav-item nav-link" href="/myreserve">Mes réservations</a></li>
     <li><a class="nav-item nav-link" href="/host">Devenez Hote</a></li>
     <li><a class="nav-item nav-link" href="/list-detail">Reserver un séjour</a></li>
{% else %}
     <li><a class="nav-item nav-link" href="/host">Devenez Hote</a></li>
     <li><a class="nav-item nav-link" href="/list-detail">Reserver un séjour</a></li>
     <li><a class="nav-item nav-link" href="/login">Connexion</a></li>
     <li><a class="nav-item nav-link" href="/register">Inscription</a></li>
{% endif %}
{% if session.state %}
     <li><a class="nav-item nav-link" href="/logout">Se déconnecter</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
     <div class="row mb-50 mt-50 col-12">
          <div class="card col-12">
               <h1 class="card-title, text-center"> {{acco.title}} </h1>
{#               <div class="col grosse-image">#}
{#                    <img class="card-img-top" src="https://mars-metcdn-com.global.ssl.fastly.net/content/uploads/sites/18/2015/07/12140648/800x400.png" alt="Card image cap">#}
{#               </div>#}
               <div class="container">
                    <div class="row align-items-start">
                         <div class="col img-figure">
                              <img class="card-img-top1" src="/img/upload/{{acco.img.0.name}}" alt="Card image cap">
                         </div>
                         <div class="col img-figure">
                              <img class="card-img-top2" src="/img/upload/{{acco.img.1.name}}" alt="Card image cap">
                         </div>
                         <div class="col img-figure">
                              <img class="card-img-top3" src="/img/upload/{{acco.img.2.name}}" alt="Card image cap">
                         </div>
                    </div>
                    <div class="card-body">
                         <div class="content">
                              <p class="font-weight-bold"> {{acco.place.country}} - {{acco.place.city}} - {{acco.place.zip}} </p>
                              <a href="/reserve/{{ acco.id }}"id="singlebutton" name="singlebutton" class="btn btn-primary float-right">Reserver</a>
                         </div>
                         <p> {{acco.place.address}} </p>
                         <ul class="list-group list-group-flush">
                              <li class="list-group-item">
                                   <h2 class="card-title">Description</h2>
                                   <p> {{acco.content}} </p>
                              </li>
                              <li class="list-group-item">
                                   <h2 class="card-title">Sur place <span class="sub_text">Ce que nous proposons</span></h2>
                                   <div class="row">
                                        <div class="col-md-6">
                                             <p>Heure d'arrivée: <b>{{acco.hour_start}}</b> </p>
                                             <p>Heure de départ: <b>{{acco.hour_end}}</b> </p>
                                             <p>Nombre de personne(s) adapté: <b>{{acco.size}}</b> </p>
                                             <p>Lit(s) simple(s): <b>{{acco.single_bed}}</b> </p>
                                             <p>Lit(s) double(s): <b>{{acco.double_bed}}</b> </p>
                                        </div>
                                        <div class="col-md-6">
                                             <p>Animal : <b>{{ acco.animal ? "Oui" : "Non"  }}</b> </p>
                                             <p>Accès handicapé : <b>{{ acco.handicap ? "Oui" : "Non"  }}</b></p>
                                             <p>Petit déjeuner : <b>{{ acco.breakfast ? "Oui" : "Non"  }}</b></p>
                                             <p>Diner : <b>{{ acco.dinner ? "Oui" : "Non"  }}</b> </p>
                                        </div>
                                   </div>

                              </li>
                              <li class="list-group-item">
                                   <h2 class="card-title">L'hébergeur <span class="sub_text">Informations personnelles</span></h2>
                                   <p>Identité: {{userinfo.fullname}} </p>
                                   <p>Email: {{userinfo.email}} </p>
                                   <p>Description personnelle: {{userinfo.bio}} </p>
                              </li>
                         </ul>
                    </div>
               </div>
          </div>
     </div>
</div>
{% endblock %}
