{% extends "../default.twig" %}

{% block title %}Sakado - Réserver un séjour{% endblock %}

{% block css%}
<link rel="stylesheet" href="/css/reserve.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
{% endblock %}

{% block nav %}
<li><a href="/">Accueil</a></li>

{% if session.state %}
     <li><a href="/account">Mon compte</a></li>
     <li><a href="/myreserve">Mes réservations</a></li>
     <li><a href="/host">Devenir hote</a></li>
{% else %}
     <li><a href="/login">Devenez Hote</a></li>
     <li><a href="/login">Connexion</a></li>
     <li><a href="/register">Inscription</a></li>
{% endif %}
{% if session.state %}
     <li><a href="/logout">Se déconnecter</a></li>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<script src="/js/maps.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div class="left">
     <div class="filter">
          <div class="container">
               <div class="row">
                    <form  method="get" class="col">
                         <div class="form-row mt-4">
                              <div class="col-md-5 col-sm-12">
                                   <label for="place">Où</label>
                                   <input type="text" name="pl" id="place" class="form-control" placeholder="Partout">
                              </div>
                              <div class="col-md-5 col-sm-3">
                                   <label for="people">Voyageurs</label>
                                   <input type="number" name="pe" id="people" class="form-control" placeholder="Nombres de personnes" min="0" max="99999">
                              </div>
                              <div class="col-md-2 col-sm-12">
                                   <label style="opacity: 0;"for="">.</label>
                                   <button type="submit" class="btn btn-success form-control" placeholder="Last name"><i class="fas fa-search"></i>  Rechercher </button>
                              </div>
                         </div>
                    </form>
               </div>
          </div>

     </div>
     <div class="item-list">
          {% for acco in accolist %}
               <div class="item">
                    <div class="picture">
                         <img src="img/4x2.png" alt="">
                    </div>
                    <div class="text">
                         <div class="price">
                              <p>{{ acco.infoplace.city }} - {{ acco.price }}</p>
                              {% if acco.rating > 0 %}
                                   <p>Note: {{ acco.rating }} / 5</p>
                              {% else %}
                                   <p>Pas encore noté</p>
                              {% endif %}
                         </div>
                         <div class="desc">{{ acco.content }}</div>
                         <div class="button-link text-center"><a href="/detail/{{ acco.id }}" class=" btn btn-primary">Voir l'hebergement</a></div>
                    </div>
               </div>
          {% endfor %}
     </div>
</div>
<div class="right">
     <div id="map"></div>
     <div class="info">

     </div>
</div>
{% endblock %}
